body{
    background-color: #83ecfa;
}
.title{
    font-family: Avara;
    text-align: center;
    font-size: 5em;
    color: #EDBA22;
    text-shadow: 5px 5px 10px gray;
    padding: 5px;
}
.gg-home{
    color: #EDBA22;
    --ggs:1.5;
    margin: auto;
}
.home{
    padding:40px;
}
#credit{
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: underline;
}
.title-bg{
    position: relative;
    height: auto;
    width:75%;
    margin: auto;
    background-color: antiquewhite;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}
.ingredients{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;

}
.dish-description{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 75%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}
.dish-description > img{
    width: 400px;
    padding: 20px;
    border-radius: 40px;
}
.description{
    align-items: center;
    font-family: Artemisia;
    font-size: 1.5em;
}
.ingredients > h1 {
    font-family: Avara;
    font-size: 2em;
    width: auto;
    order: 2;
    margin-bottom: 0px;
    text-align: center;
}
#d1{
    order: 6;
}
#i1{
    order: 2;
}
#i2{
    order: 3;
}
#i3{
    order: 4;
}
.i-list{
    font-family: Artemisia;
    list-style: none;
    padding: 0;
    margin: 0;
    order: 3;
    padding-top: 2em;
}
.i-list2{
    font-family: Artemisia;
    list-style: none;
    padding: 0;
    margin: 0;
    order: 5;
    padding-top: 2em;
}
.i-list > li{
    padding-bottom: 5px;

}
.i-list2 > li{
    padding-bottom: 5px;
}
.i-info{
    font-family: Artemisia;
    list-style: none;
    padding: 20px;
    margin: 0;
    order: 1;
    align-self: flex-end;
}
.i-info > li {
    padding-bottom: 5px;
}
.directions{
    order: 7;
    padding: 30px;
    font-family: Artemisia;
}
a{
    text-decoration: none;
    color: inherit
}
@font-face{
  font-family: Avara;
  src: url(../resources/Avara.otf);
}
@font-face {
  font-family:Artemisia ;
  src: url(../resources/GFSArtemisia.otf);
}