body{
    background-color: #83ecfa;
}
.title{
    font-family: Avara;
    text-align: center;
    font-size: 5em;
    color: #EDBA22;
    text-shadow: 5px 5px 10px gray;
    padding: 5px;
}
.title-bg{
    position: relative;
    height: auto;
    width:75%;
    margin: auto;
    background-color: antiquewhite;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}
.ingredients{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;

}
.ingredients > h1{
    font-family: Artemisia;
    font-size: 2em;
    width: auto;
    order: 2;
    margin-bottom: 0px;
}
.i-list{
    font-family: Artemisia;
    list-style: none;
    padding: 0;
    margin: 0;
    order: 3;
    padding-top: 5em;
}
.i-list > li{
    padding-bottom: 5px;

}
.i-info{
    font-family: Artemisia;
    list-style: none;
    padding: 20px;
    margin: 0;
    order: 1;
    align-self: flex-end;
}
.i-info > li {
    padding-left: 15px;
    padding-bottom: 5px;
}






a{
    text-decoration: none;
    color: inherit
}
@font-face{
  font-family: Avara;
  src: url(../resources/Avara.otf);
}
@font-face {
  font-family:Artemisia ;
  src: url(../resources/GFSArtemisia.otf);
}