body{
    background-color: #83ecfa;
}
.title{
    font-family: Avara;
    text-align: center;
    font-size: 5em;
    color: #EDBA22;
    text-shadow: 5px 5px 10px gray;

}
.img-gal{
    display: flex;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #EDBA22;
    box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.column{
    position: relative;
    padding: 5px;
}
.caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
    opacity: 0;
    transition: .5s ease;
    background-color: #83ecfa6e;
}
.caption-text {
    color: white;
    font-size: 30px;
    font-family: Avara;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
a{
      text-decoration: none;
      color: inherit
  }
.column:hover .caption {
    opacity: 1;
  }
@media screen and (max-width: 400px) {
    .row, .caption, .caption-text {
      flex: 100%;
    }
}
@font-face{
    font-family: Avara;
    src: url(resources/Avara.otf);
}
@font-face {
    font-family:Artemisia ;
    src: url(resources/GFSArtemisia.otf);
}
